version: '3'
services:
  mysql80:
    image: mysql:8.0
    container_name: ldap-admin-mysql
    ports:
      - "3306:3306"
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db/conf.d:/etc/mysql/conf.d
      - ./db/data:/var/lib/mysql
      - ./db/init-sql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: ldap123456
    restart: always
  ldap-admin:
    # image: yiluxiangbei/ldap-admin:v1
    build:
      context: ldap-fe
      dockerfile: Dockerfile
    container_name: ldap-admin-fe
    ports:
      - "8072:8080"
    volumes:
      - ./ldap/data:/ldap-admin/data
      - ./ldap/logs:/ldap-admin/logs
      - /etc/localtime:/etc/localtime
    #depends_on:
    #  - mysql80
    restart: always